.create-employee-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:1em auto;
    width: 80%;
}

.create-employee-container h3{
    color: #fff;
    font-size: 1.5em;
}
.create-employee-form{
    width: 50%;
}


@media all and (min-width: 320px) and (max-width: 1024px) {
    .create-employee-container{
        width: 100%;
        margin:1em 0;
    }

    .create-employee-form{
        width: 90%;
    }
}
