.create-employee-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:1em auto;
    width: 80%;
}

.create-employee-container h3{
    color: #fff;
    font-size: 1.5em;
}
.create-employee-form{
    width: 50%;
}

