.employees_list_container {
  width: 70%;
  margin: 1em auto;
  /*backdrop-filter: blur(8px) saturate(164%);
  -webkit-backdrop-filter: blur(8px) saturate(164%);
  background-color: rgba(17, 25, 40, 0.33);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.employees_list_container h3 {
  color: #fff;
  text-align: center;
  margin: 1em 0;
  font-size: 1.5em;
}

.search_bar {
  margin-bottom: 1em;
  text-align: center;
}

.table,
table {
  border: 1px #fff solid;
  width: 100%;
}

.pagination {
  margin-top: 1em;
}

/* responsive tablet */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .employees_list_container {
    width: 100%;
    margin: 1em 0;
  }

  .column_title {
    font-size: 0.8em;
  }

  .table,
  table {
    width: auto;
  }
}
