.text-danger {
  color: #ff000f;
  font-size: 0.8em;
}

.create-employee-container h2 {
  color: #fff;
}

.create-employee-form {
  border: 1px rgba(0, 0, 0, 0.171) solid;
  padding: 1em 0;
  border-radius: 5px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(8px) saturate(164%);
  -webkit-backdrop-filter: blur(8px) saturate(164%);
  background-color: rgba(1, 49, 17, 0.33);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.form_container {
  width: 80%;
}

.form_container label {
  color: #fff;
}

.form_container .input {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
}

.form_container div input {
  height: 30px;
  border-radius: 8px;
}

.field_address legend {
  color: #fff;
}
.btn-submit {
  display: flex;
  justify-content: center;
  width: 20%;
  margin: 2em 0 0;
  height: 40px;
}

.btn-submit button {
  width: 100%;
}

.form_container .select_department {
  margin-top: 1em;
  height: 60px;
}
