header{
   margin : 1em 0 2em;
   /* box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.808);*/
    background-color:#020f02;
    height: 100px;
}

.banner{
    display: flex;
    width: 90%;
    height: 100%;
    margin: auto;
    justify-content: space-between;
}

.block_logo_hrnet{
    width: 30%;
    display: flex;
    align-items: center;
}

.block_logo_hrnet h1{
    margin: 0;
    display: flex;
}

.block_logo_hrnet img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
